.env
node_modules
trash
data/claim-history.json
data/liquidator-history.json
constants/config.js
consolidatedWinnersData.json
winners.json
playersToCalculate.json
api/data/
pooly-bot/.env
pooly-bot/node_modules
